@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .container {
    @apply max-w-7xl !important;
  }
}

body {
  /* background-image: url('../img/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%; */
}

.btn-red {
  @apply px-5 py-3 text-white bg-brightRed hover:bg-orange-400 hover:text-black rounded;
}

.cart-btn {
  @apply px-1 xl:px-5;
}

.display-condition {
  @apply sm:hidden md:block;
}

.active {
  @apply text-lg text-red-500 px-2;
}

.non-active-nav {
  @apply text-gray-400 text-lg px-2 hover:text-black cursor-pointer;
}

.hero-section {
  @apply flex flex-col-reverse items-center px-6 mx-auto mt-10 space-y-0 lg:space-y-0 lg:flex-row;
}

.hero-heading {
  @apply max-w-lg text-4xl font-bold text-center lg:text-5xl lg:text-left;
}

.hero-image {
  @apply sm:flex-shrink-0 transform duration-500;
}

.middle-layer {
  @apply flex flex-col md:flex-row justify-evenly mt-10 p-3 md:p-10;
}
.btn-list{
  @apply  w-12 h-10 bg-orange-600 rounded text-white justify-center items-center inline;
}
.para-mid-layer{
  @apply max-w-sm text-center text-darkGrayishBlue lg:text-left block;
}
.service{
  @apply flex flex-wrap flex-col lg:flex-row container p-3 lg:p-10;
}
.product-panel{
  @apply w-full flex justify-start flex-col-reverse lg:flex-row items-start px-5;
}

.pag-active{
  @apply rounded-l inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase bg-red-300 focus:bg-blue-700 focus:outline-none focus:ring-0  transition duration-150 ease-in-out;
}
.pagination-item{
  @apply inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase bg-brightRed focus:outline-none focus:ring-0  transition duration-150 ease-in-out;
}
.promotion{
  @apply sm:w-full  flex justify-center items-center bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
}
.shape-mark{
  @apply before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500 relative inline-block;
}

.sale{
  @apply flex justify-center items-center before:absolute before:w-12 before:h-12 before:rounded-full before:bg-pink-500 relative inline-block;
}
.subscription{
  @apply h-11 px-6 text-white bg-brightRed rounded hover:bg-orange-400 hover:text-black inline cursor-pointer;
}
.testmonial-person{
  @apply flex flex-col items-center md:w-1/3 bg-veryLightGray text-center rounded px-5 py-7;
}

.footer{
  @apply flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0;
}
.copyright{
  @apply flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start;
}
.footer-btn{
  @apply px-6 py-2 text-white rounded-full bg-brightRed hover:bg-brightRedLight focus:outline-none;
}

#cta {
  background-image: url('../img/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }

  #cta {
    background-image: url('../img/bg-simplify-section-mobile.svg');
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.hidden {
  display: none;
}

.promotion {
  height: fit-content;
  padding: 80px 0;
}

.service {
  width: 100%;
}

.sidebar {
  border-right: 1px solid #e6e6e6;
}

@media (max-width: 767px) {
  .sidebar {
    border-right: none;
    margin-bottom: 40px;
  }
}

.nav-mb {
  position: relative;
  margin: .5rem;
  padding: 2.5rem;
  text-align: center;
}

.menu-items {
  text-align: center;
  position: absolute;
  padding: 5rem;
  margin-top: -12.5rem;
  margin-left: 1rem;
  top: 13rem;
  left: -18.5rem;
  list-style: none;
  opacity: 0;
  font-size: 2rem;
  border: 4px solid black;
  background-color: black;
  border-radius: 0.25em;
  transform: translateX(-10%);
  transition: transform 100ms ease-in-out, opacity 200ms;
  z-index: 12;
}

.menu-items li {
  color: white;
  padding: 0.5rem;
}

.menu-items li a {
  color: white;
  text-decoration: none;
}

.menu-items li a:hover {
  color: rgb(174, 174, 174);
}

.check {
  position: absolute;
  top: .5rem;
  left: .5rem;
  height: 3rem;
  width: 3rem;
  opacity: 0;
  z-index: 3;
}

.check:hover {
  cursor: pointer;
}

.check:checked~.menu-items {
  display: block;
  transform: translateX(0%);
  opacity: 1;
}

.ham-menu {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: .5rem;
  left: .5rem;
  padding: 0.5rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  border-radius: 0.25em;
}

.ham-menu .line {
  background-color: white;
  border-radius: 1em;
  width: 2rem;
  height: 0.25rem;
}

.ham-menu .line1 {
  transform-origin: 0% 0%;
  transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
  transform-origin: 0% 100%;
  transition: transform 100ms ease-in-out;
}

.check:checked~.ham-menu .line1 {
  display: block;
  transform: rotate(45deg);
}

.check:checked~.ham-menu .line2 {
  opacity: 0;
}

.check:checked~.ham-menu .line3 {
  display: block;
  transform: rotate(-45deg);
}